:host  {
  background-color: #F3C5FF;
}
.vip-hero {
  text-align: center;
  padding: 2rem;
  background: linear-gradient(to right, #c6f0f2, #d03eed);
  color: #1B4568;
  border: 3px solid #2b2b2b;
  box-shadow: 4px 4px #2b2b2b;

}

.rarity-section,
.loyalty-section,
.how-to-earn {
  padding: 1.5rem;
  background-color: #F3C5FF;
  color: #1B4568;
}

.rarity-grid,
.loyalty-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  background-color: #F3C5FF;
  color: #1B4568;

}

.rarity-card,
.loyalty-card {
  background: #fff3eb;
  padding: 1rem 1.5rem;
  width: 200px;
  color: #1B4568;
  text-align: center;
  border: 3px solid #2b2b2b;
  box-shadow: 4px 4px #2b2b2b;
}

.rarity-label {
  font-weight: bold;
  font-size: 1.1rem;
}

.rarity-xp {
  margin-top: 0.5rem;
  color: #10b981;
  font-weight: bold;
}

.how-to-earn ul {
  list-style: none;
  padding: 0;
}

.how-to-earn li {
  margin-bottom: 0.5rem;
}

.cta {
  text-align: center;
  padding: 2rem;
  background-color: #F3C5FF;
}

.menu-btn {
  padding: 1rem 2rem;
  background: #8DF7EB;
  font-weight: bold;
  font-size: 1.1rem;
  border: none;
  transition: transform 0.2s ease;
  color: #1B4568;
  border: 3px solid #2b2b2b;
  box-shadow: 4px 4px #2b2b2b;
}

.menu-btn:hover {
  transform: scale(1.05);
}
