
<ul>
    @for (card of paginatedCards; track card.id) {
        <li>
            <div class="card">
            <h3>{{ card.title }}</h3>
            <p> {{card.description}} </p>
            </div>
            <button (click)='increase(card)'></button>
            {{count}}
            <button (click)='decrease(card)'></button>
            <button>Checkout</button>
        </li>
    }
</ul>

<div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{currentPage}}</span>
    <button (click)="nextPage()" [disabled]="currentPage >= (cards.length / cardsPerPage)">Next</button>
</div>