<main class="account-hero">
  <div class="account-box">
    <div class="account-header">PROFILE</div>

    <a routerLink="/login">
      <button class="account-button" (click)="goToLogin()">
        <img src="assets/resources/icons/account_Icon.png" alt="Account icon" />
        LOGIN
      </button>
    </a>

    <button class="account-button">
      <img src="assets/resources/icons/heart_selected.png" alt="Favorites" />
      FAVORITES
    </button>

    <button class="account-button">
      <img src="assets/resources/icons/address.png" alt="Address" />
      ADDRESS
    </button>

    <button class="account-button" (click)="goToVip()">
      <img src="assets/resources/icons/vip.png" alt="VIP" />
      VIP MEMBERSHIP
      <div class="ice-cream" style="left: 5%; animation-delay: 0s;">
        <img src="assets/resources/vip_Icons/common_Icon.png" alt="ice cream" />
      </div>
      <div class="ice-cream" style="left: 20%; animation-delay: 1.2s;">
        <img src="assets/resources/vip_Icons/uncommon_Icon.png" alt="ice cream" />
      </div>
      <div class="ice-cream" style="left: 35%; animation-delay: 2.4s;">
        <img src="assets/resources/vip_Icons/rare_icon.png" alt="ice cream" />
      </div>
      <div class="ice-cream" style="left: 50%; animation-delay: 1.6s;">
        <img src="assets/resources/vip_Icons/seasonal_Icon.png" alt="ice cream" />
      </div>
      <div class="ice-cream" style="left: 70%; animation-delay: 0.8s;">
        <img src="assets/resources/vip_Icons/legendary_Icon.png" alt="ice cream" />
      </div>
      <div class="ice-cream" style="left: 88%; animation-delay: 0.2s;">
        <img src="assets/resources/vip_Icons/epic_Icon.png" alt="ice cream" />
      </div>
    </button>
  </div>
</main>
