<main class="account-hero">
  <div class="account-box">
    <div class="account-header">PROFILE</div>

    <a routerLink="/login">
      <button class="account-button" (click)="goToLogin()">
        <img src="assets/resources/icons/account_Icon.png" alt="Account icon" />
        LOGIN
      </button>
    </a>

    <button class="account-button">
      <img src="assets/resources/icons/heart_selected.png" alt="Favorites" />
      FAVORITES
    </button>

    <button class="account-button">
      <img src="assets/resources/icons/address.png" alt="Address" />
      ADDRESS
    </button>

    <button class="account-button" (click)="goToVip()">
      <img src="assets/resources/icons/vip.png" alt="VIP" />
      VIP MEMBERSHIP
      <div class="ice-cream" style="left: 10%; animation-delay: 0s;">
        <img src="assets/resources/vip_Icons/common_Icon.png" alt="ice cream" />
      </div>
      <div class="ice-cream" style="left: 30%; animation-delay: 1s;">🍦</div>
      <div class="ice-cream" style="left: 50%; animation-delay: 2s;">🍦</div>
      <div class="ice-cream" style="left: 70%; animation-delay: 1.5s;">🍦</div>
      <div class="ice-cream" style="left: 90%; animation-delay: 0.7s;">🍦</div>
    </button>
  </div>
</main>
