<main class="landing-hero">
  <div class="hero-content">
    <div class="image-container-home">
      <div class="image-container-home" style="display: flex; gap: 20px; background: #111; padding: 1rem;">
        <img src="assets/images/ice-cream2.png" alt="Ice 1" style="width: 100px; border: 2px solid lime;" />
        <img src="assets/images/sprinkle-sprite-tag.png" alt="Word Logo" style="width: 200px; border: 2px solid yellow;" />
        <img src="assets/images/ice-cream2.png" alt="Ice 2" style="width: 100px; border: 2px solid red;" />
      </div>

    </div>
    <div class="popInfo">
      <h2 class="tagline">POWER UP YOUR SWEET TOOTH</h2>

      <p class="info">
        Retro-inspired ice cream shop serving a variety of classic and unique flavors.
        Experience a nostalgic treat like never before!
      </p>

      <button class="buy-btn">BUY ICE CREAM</button>
    </div>
  </div>
</main>
