<main class="landing-hero">
  <div class="hero-content">
    <div class="image-container-home">
      <img src="/sprinkle-sprite/assets/images/ice-cream2.PNG" alt="Pixel ice cream cone" class="logo-img" />
      <img src="/sprinkle-sprite/assets/images/sprinkle-sprite-tag.PNG" alt="sprinkle sprite word logo" class="tag-img" />
    </div>
    <div class="popInfo">
      <h2 class="tagline">POWER UP YOUR SWEET TOOTH</h2>

      <p class="info">
        Retro-inspired ice cream shop serving a variety of classic and unique flavors.
        Experience a nostalgic treat like never before!
      </p>

      <button class="buy-btn">BUY ICE CREAM</button>
    </div>
  </div>
</main>
